<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824538877301-89e5ilrb7991b1ochrvhhaiqjrno15ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824538877301-89e5ilrb7991b1ochrvhhaiqjrno15ef</string>
	<key>API_KEY</key>
	<string>AIzaSyBLBo8nmaNUAIxSb8bbDSi0OtSKAwBHbAY</string>
	<key>GCM_SENDER_ID</key>
	<string>824538877301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-a43e8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-a43e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824538877301:ios:83b84918b0758e2a14573c</string>
</dict>
</plist>